In [34]:
import random
import numpy as np
from math import atan, sqrt

# evaluation time in free fall

In [7]:
g = 9.8
#t = np.sqrt((2*h)/g)
for i in range (5):
    h = 10*random.random()
    t = np.sqrt((2*h)/g)
    print ('height is {0:.2f} and time is {1:.2f}'.format(h,t))

height is 9.04 and time is 1.36
height is 4.12 and time is 0.92
height is 1.67 and time is 0.58
height is 0.50 and time is 0.32
height is 2.45 and time is 0.71

In [14]:
random.random()

0.728809803893351

In [12]:
def get_time(h):
    g = 9.8
    t = np.sqrt((2*h)/g)
    return t
for i in range (5):
    h = 10*random.random()
    t = get_time(h)
    print ('height is {0:.2f} and time is {1:.2f}'.format(h,t))

height is 0.09 and time is 0.13
height is 9.18 and time is 1.37
height is 4.11 and time is 0.92
height is 1.49 and time is 0.55
height is 9.27 and time is 1.38

# Fibonacci sequence

In [22]:
a, b = 0, 1

while True:
    print(a)
    a, b = b, a + b  
    if a > 1000:
        break

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987

# Polar transformation

In [33]:

def polar(x,y):
    r = sqrt(x**2 + y**2)
    theta = atan(y/x)
    
    return r , theta

x = float(input('Enter x: '))
y = float(input('Enter y: '))

r , theta = polar(x,y)

print('x = {0} , y = {1}'.format(x,y))
print('r = {0} , theta = {1}'.format(r , theta))

Enter x: 0.1
Enter y: 5
x = 0.1 , y = 5.0
r = 5.000999900019995 , theta = 1.550798992821746